body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pixels{
    font-size: 35px;
}

.cm{
    font-size: 0.9cm;
}
.rem{
    font-size: 2.1rem;  
}
.remtimes{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.1rem;
}
.vw{
    font-size: 2.8vw;
}