footer{
    position: relative;
    padding: 75px 0 50px 0;
    grid-template-columns: minmax(0.99706875rem, 1fr) minmax(0, 1520px) minmax(0.99706875rem, 1fr);
    display: grid;
    overflow: hidden;
    >.shape_grey{
        position: absolute;
        top: 44px;
        width: calc(100% + 2px);
        left: -1px;
        height: calc(100% - 44px);
        z-index: -2;
        stroke: var(--black);
    }

    .grid_receiver{
        grid-column: 2/2;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        figure{
            text-align: center;
            grid-column: 1 / -1;
            margin-bottom: 25px;
            width: 100%;
            img{
                max-width: 222px;
            }
        }

        nav.footernav{
            margin-bottom: 1.5rem;
            width: 100%;
            justify-content: center;
            &:nth-of-type(even){
                text-align: right;
            }

            &:first-child{
                margin-top: 1.5rem;
            }

            h4{
                text-align: left;
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 10px;
                letter-spacing: 1px;
            }

            ul{
                display: grid;
                list-style-type: none;
                padding: 0;
                margin: 0;
                li{
                    height: 32px;
                    display: flex;
                    align-items: center;
                    a, button{
                        color: var(--black);
                        font-size: var(--font-size-menu);
                        line-height: 2rem;
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            transform: scaleX(0);
                            height: 2px;
                            bottom: -3px;
                            left: 0;
                            background-color: var(--black);
                            transform-origin: bottom right;
                            transition: transform 0.25s ease-out;
                        }

                        &:hover,
                        &:focus,
                        &.active {
                            &:after {
                                transform: scaleX(1);
                                transform-origin: bottom left;
                            }
                        }
                    }
                    button{
                        height: 16px;
                        display: flex;
                        align-items: center;
                    }
                }
            }

            @media (min-width: 860px){
                text-align: left !important;
            }
        }

        p.copy, nav.legal_nav{
            grid-column: 1/-1;
        }

        p.copy{
            text-align: center;
            font-size: 14px;
            margin: 50px 0;
            line-height: 20px;
            grid-row: 4/4;
            @media (min-width: 860px){
                margin: 0;
                grid-column: 1/4;
                grid-row: 3/3;
                text-align: left;
            }
        }
        nav.legal_nav{
            margin: 0 auto;
            ul{
                list-style-type: none;
                padding: 0;
                display: flex;
                margin: 0;
                gap: 10px;
                align-items: center;
                li{
                    font-size: 14px;
                    line-height: 20px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding-right: 10px;
                    a{
                        line-height: 1em;
                        color: var(--black);
                        position: relative;
                        font-size: var( --font-size-menu);
                        &:after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            transform: scaleX(0);
                            height: 2px;
                            bottom: -3px;
                            left: 0;
                            background-color: var(--black);
                            transform-origin: bottom right;
                            transition: transform 0.25s ease-out;
                        }

                        &:hover,
                        &:focus,
                        &.active {
                            &:after {
                                transform: scaleX(1);
                                transform-origin: bottom left;
                            }
                        }
                    }
                    &:not(:last-child){
                        &:after{
                            content: "|";
                            position: absolute;
                            left: 100%;
                        }
                    }
                }
            }

            @media (min-width: 860px){
                grid-column: 4 / 5;
                grid-row: 3 / 3;
                text-align: left;
                width: 100%;
            }
        }

        @media (min-width: 860px){
            grid-template-columns: repeat(4, 1fr);
        }
    }
}