* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Inter", sans-serif;
}
html {
 scroll-behavior: smooth; /* make sure scrolling to anchor tags is not instant */
}
body {
 --grey-bg: #f7f7f5; /* Popup background */
}
a {
 text-decoration: none;
 cursor: pointer;
 /* Default link styling, no underline */
}
strong {
 text-transform: uppercase;
 color: var(--black);
}
/* HIDDEN CLASSES - Hide elements on desktop, mobile or both */
.hidden {
 display: none !important;
}
.desktop_hidden {
 @media (min-width: 860px) {
  display: none !important;
 }
}
.mobile_hidden {
 @media (max-width: 859px) {
  display: none !important;
 }
} 
/* --- */
/* Hidden SEO Titles */
.hidden_title {
 font-size: 0;
}
/* UGLY SKIP TO THE CONTENT LINK */
.skip-to-content-link {
 background: rebeccapurple;
 height: 2rem;
 left: 50%;
 padding: 8px;
 position: absolute;
 transform: translate(-50%, -100%);
 transition: transform 0.3s;
 color: white;
 z-index: 999999;
}

.skip-to-content-link:focus {
 transform: translate(-50%, 0%);
}

.grid_giver {
 margin: 0 0 1.25rem 0;
 display: grid;
 grid-template-columns: minmax(1.33rem, 1fr) minmax(0, 1520px) minmax(1.33em, 1fr); /* make the content in column 2 a max opf 1520px. Devide the space to the right with a margin on the sides of 1.33em */
}
.grid_receiver {
 grid-column: 2 / 2; /* make this the second column - > see line 61 */
}
.grid_giver_desktop {
 margin: 0 0 1.25rem 0;
 @media (min-width: 860px) {
  position: relative;
  display: grid;
  grid-template-columns: minmax(1.33rem, 1fr) minmax(0, 1520px) minmax(1.33em, 1fr);
 }
}
.grid_receiver_desktop {
 @media (min-width: 860px) {
  grid-column: 2 / 2;
 }
}

/* Green shape */
.shape_green {
 display: none;
 position: absolute;
 top: 0px;
 width: calc(100% + 0px);
 left: 0px;
 height: calc(100% + 49px);
 height: calc(100% + 59px);
 z-index: -2;

 .filter-effect {
  filter: url(#filter0_d_42_1068);
  @media (min-width: 860px) {
   filter: none;
  }
 }

 path {
  @media (min-width: 860px) {
   stroke: transparent;

  }
 }
 @media (min-width: 860px){
  display: block;
 }
 @media (min-width: 1100px){
  height: calc(100% + 49px);
 }
}

/* INDEX */
.intro_page {
 display: grid;
 gap: 1em;
 text-align: center;
 margin: 3em 0;
}

/* Base styling for articles */

article {
 border: 1px solid var(--black);
 position: relative;
 background-color: var(--white);
 figure {
  /* height: 15.625rem; */
  width: 100%;
  aspect-ratio: 360 / 250;
  max-height: 400px;
  img {
   display: block;
   height: 100%;
   width: 100%;
   object-fit: cover;
   aspect-ratio: 360 / 250;
   max-height: 400px;
  }
 }
 .content_article {
  padding: 1rem;
  border-top: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  gap: 1.8125rem;
  .heading_article + .text_meta {
   color: var(--darkgrey);
   margin-top: auto;
   max-width: calc(100% - 69px);
   display: flex;
   gap: 3px;
   flex-wrap: wrap;
  }
  @media (min-width: 860px){
   flex: 1;
  }
 }
 @media (min-width: 860px){
  flex: 1;
  display: flex;
  flex-direction: column;
 }
}
/* Black labels at bottom right of articles */
.label_date {
 background-color: var(--black);
 color: var(--white);
 width: fit-content;
 padding: 1rem 1.5rem;
 position: absolute;
 bottom: 0;
 right: 0;
 text-transform: uppercase;
}

section, div, aside{
 position: relative;
 .anchor {
  position: absolute;
  top: -149px;
  width: 100%;
  height: 1px;
 }
 .anchor:target + h2 + a.text_menu {
  background-color: var(--black);
   color: var(--white);
   > svg {
    > path {
     fill: var(--white);
    }
   }
   @media (min-width: 860px){
    color: var(--primary-color);
    background-color: var(--white);
    padding-left: 4rem;
    > svg {
     > path {
      fill: var(--primary-color);
     }
    }
   }
 }
}



/* Seperators */
.seperator_rubriek {
 display: flex;
 position: relative;
 border-top: 5px solid var(--primary-color);
 margin: 0 0 1.25rem;
 > h2 {
  display: flex;
  align-items: center;
  line-height: 150%;
  color: white;
  text-transform: uppercase;
  padding: 13px 11px;
  background: var(--primary-color);
 }
 > a.text_menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
  justify-content: flex-end;
  letter-spacing: 1px;
  padding-right: 4px;
  font-weight: bold;
  transition: none;
  > svg {
   width: 25px;
   height: 25px;
   margin-left: 1rem;
  }

  &:hover,
  &:active,
  &:focus {
   background-color: var(--black);
   color: var(--white);
   > svg {
    > path {
     fill: var(--white);
    }
   }
   @media (min-width: 860px){
    color: var(--primary-color);
    background-color: var(--white);
    padding-left: 4rem;
    > svg {
     > path {
      fill: var(--primary-color);
     }
    }
   }
  }
 }
}