* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Inter", sans-serif;
}
html {
 scroll-behavior: smooth;
}
body {
 --grey-bg: #f7f7f5;
}
a {
 text-decoration: none;
 cursor: pointer;
}
strong {
 text-transform: uppercase;
 color: var(--black);
}
.hidden {
 display: none !important;
}
.desktop_hidden {
 @media (min-width: 860px) {
  display: none !important;
 }
}
.mobile_hidden {
 @media (max-width: 859px) {
  display: none !important;
 }
}
.hidden_title {
 font-size: 0;
}
/* UGLY SKIP TO THE CONTENT LINK */
.skip-to-content-link {
 background: rebeccapurple;
 height: 2rem;
 left: 50%;
 padding: 8px;
 position: absolute;
 transform: translate(-50%, -100%);
 transition: transform 0.3s;
 color: white;
 z-index: 999999;
}

.skip-to-content-link:focus {
 transform: translate(-50%, 0%);
}

.grid_giver {
 margin: 0 0 1.25rem 0;
 display: grid;
 grid-template-columns: minmax(1.33rem, 1fr) minmax(0, 1520px) minmax(1.33em, 1fr);
}
.grid_receiver {
 grid-column: 2 / 2;
}
.grid_giver_desktop {
 margin: 0 0 1.25rem 0;
 @media (min-width: 860px) {
  position: relative;
  display: grid;
  grid-template-columns: minmax(1.33rem, 1fr) minmax(0, 1520px) minmax(1.33em, 1fr);
 }
}
.grid_receiver_desktop {
 @media (min-width: 860px) {
  grid-column: 2 / 2;
 }
}

/* Green shape */
.shape_green {
 display: none;
 position: absolute;
 top: 0px;
 width: calc(100% + 0px);
 left: 0px;
 height: calc(100% + 49px);
 height: calc(100% + 59px);
 z-index: -2;

 .filter-effect {
  filter: url(#filter0_d_42_1068);
  @media (min-width: 860px) {
   filter: none;
  }
 }

 path {
  @media (min-width: 860px) {
   stroke: transparent;

  }
 }
 @media (min-width: 860px){
  display: block;
 }
 @media (min-width: 1100px){
  height: calc(100% + 49px);
 }
}

/* INDEX */
.intro_page {
 display: grid;
 gap: 1em;
 text-align: center;
 margin: 3em 0;
}

/* Base styling for articles */
article {
 border: 1px solid var(--black);
 position: relative;
 background-color: var(--white);
 figure {
  /* height: 15.625rem; */
  width: 100%;
  aspect-ratio: 360 / 250;
  max-height: 400px;
  img {
   display: block;
   height: 100%;
   width: 100%;
   object-fit: cover;
   aspect-ratio: 360 / 250;
   max-height: 400px;
  }
 }
 .content_article {
  padding: 1rem;
  border-top: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  gap: 1.8125rem;
  .heading_article + .text_meta {
   color: var(--darkgrey);
   margin-top: auto;
   max-width: calc(100% - 69px);
   display: flex;
   gap: 3px;
   flex-wrap: wrap;
  }
  @media (min-width: 860px){
   flex: 1;
  }
 }
 @media (min-width: 860px){
  flex: 1;
  display: flex;
  flex-direction: column;
 }
}

/* Black labels at bottom right of articles */
.label_date {
 background-color: var(--black);
 color: var(--white);
 width: fit-content;
 padding: 1rem 1.5rem;
 position: absolute;
 bottom: 0;
 right: 0;
 text-transform: uppercase;
}
section, div, aside{
 position: relative;
 .anchor {
  position: absolute;
  top: -85px;
  width: 100%;
  height: 1px;
 }
 .anchor:target + h2 + a.text_menu {
  background-color: var(--black);
  color: var(--white);
  > svg {
   > path {
    fill: var(--white);
   }
  }
 }
}