body#redpersHome{
 section.section_intro{
  padding-bottom: 47px;
  article.article_intro{
   border: 0;
   display: grid;
   position: relative;
   .part_content{
    display: flex;
    background-image: url("../assets/studentensport.webp");
    height: 26.75rem;
    padding-right: 0.5rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    align-items: end;
    padding: 1rem;
    background-color: var(--white);

    h1.heading_article{
     font-size: var(--font-size-header-article);
     color: var(--white);
     z-index: 2;
     position: relative;
     @media (min-width: 860px){
      font-size: var(--font-size-header-l);
      color: var(--black);
     }
     @media (min-width: 1100px){
      max-width: 375px;
     }
    }
    p.text_intro{
     @media (min-width: 1100px){
      max-width: 430px;
     }
    }
    p.text_meta{
     color: var(--darkgrey);
     /* align-self: end; */
     margin-top: auto;
    }
    @media (min-width: 860px){
     /* grid-template-rows: min-content min-content min-content; */
     display: flex;
     flex-direction: column;
     background-image: none;
     height: auto;
     padding-right: 1rem;
     padding-top: 3.125rem;
     width: auto;
     background-size: initial;
     background-position: initial;
     align-items: normal;
     border: 1px solid var(--black);
    }     
   }
   .shape{
    position: absolute;
    z-index: -1;
    bottom: -57px;
    width: 100%;
    >g>path{
     fill: var(--black);
    }
    @media (min-width: 860px){
     display: none;
    }
   }
   &:after{
    position: absolute;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    @media (min-width: 860px){
     display: none;
    }
   }
   .label_date{
    top: 0;
    left: 0;
    bottom: unset;
    right: unset;
    padding: 0.5rem 1rem;
   }
   @media (min-width: 860px){
    grid-column: span 1;
   }
  }
  figure{
   @media(min-width: 860px){
    grid-column: span 2;
    img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
    }
   }
  }
  @media (min-width: 860px){
   margin-top: 3rem;
   padding-bottom: 0;
  }
  @media(min-width: 1100px){
   display: grid;
   grid-template-columns: repeat(3, calc((100% - 40px) / 3)); 
   column-gap: 20px;
   margin-top: 7.5rem;
  }
 }
 section.section_articles_row{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
  article{
   border: 1px solid var(--black);
   position: relative;
   background-color: var(--white);
   figure{
    /* height: 15.625rem; */
    width: 100%;
    aspect-ratio: 360 / 250;
    max-height: 400px;
    img{
     display: block;
     height: 100%;
     width: 100%;
     object-fit: cover;
     aspect-ratio: 360 / 250;
     max-height: 400px;
    }
   }
   .content_article{
    padding: 1rem;
    border-top: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    gap: 1.8125rem;
    p.text_meta{
     color: var(--darkgrey);
     margin-top: auto;
    }
   }
  }
 }
 .seperator_rubriek{
  display: flex;
  position: relative;
  border-top: 5px solid var(--primary-color);
  margin: 0 0 1.25rem;
  >h2{
   display: flex;
   align-items: center;
   line-height: 150%;
   color: white;
   text-transform: uppercase;
   padding: 13px 11px;
   background: var(--primary-color);
  }
  >a{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   padding: 1rem;
   width: 100%;
   justify-content: space-between;
   letter-spacing: 1px;
   padding-right: 4px;
   transition: 0.2s ease;
   >svg{
    width: 25px;
    height: 25px;
    margin-left: auto;
    transition: 0.2s ease;
   }
   
   &:hover, &:active, &:focus{
    background-color: var(--black);
    color: var(--white);
    >svg{
     >path{
      fill: var(--white);
     }
    }
   }

  }
  .anchor{
   position: absolute;
   top: -85px;
   width: 100%;
   height: 1px;
  }
  .anchor:target + h2 + a.text_menu{
   background-color: var(--black);
   color: var(--white);
   >svg{
    >path{
     fill: var(--white);
    }
   }
  }
 }
}